<%- include("../partials/header") %>
  <section id="about">
    <div class="container" style="height: 381px;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form method="post">
            <h2>Sobre a série: <%= serie.name %></h2>
            <div class="form-group">
              Nome da série: <%= serie.name %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<%- include("../partials/footer") %>