<%- include("../partials/header") %>
    <section id="about">
      <div class="container" style="height: 381px;">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <form method="post">
            <h2>Cadastro de Series</h2>
            <p class="lead">Cadastrar nova serie<a href="/series/nova" class="btn btn-info">Cadastrar nova série</a></p>
           <input type="text" name="name">
           <input type="text" name="name">
           <button>Salvar</button>
          </form>
          </div>
        </div>
      </div>
    </section>
<%- include("../partials/footer") %>